.comment
  .report-info
    line-height: 1.5
    .report-info-avatar
      float: left
      margin-right: 10px
      img 
        width: 20px
        height: 20px
    .report-info-info
      float: left
      width: 300px