.item
  border: 1px solid #999999
  display: inline-block
  position: relative
  padding: 0px 8px
  line-height: 32px
  border-radius: 4px
  margin: 4px 8px
  .close
    position: absolute
    display: inline-block
    position: absolute
    right: -6px
    top: -6px
    background: #909090
    color: #dfdfdf
    border-radius: 50%
    cursor: pointer
    padding: 2px
    font-size: 10px