.activity-add{
  position: relative;
}
.activity-tag-preview{
  position: absolute;
  width: 400px;
  right:3%;
  top: 3%;
  padding: 10px;
  border: 1px solid #e8e8e8;
}
.activity-tag-preimgs{
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  .tag{
    position: absolute; 
  }
  .tag-p0{
    left: -9999px;
    top:  -9999px;
  }
  .tag-p5{
    left: 0;
    top: 0;
  }
  .tag-p10{
    left: 0;
    bottom: 0;
  }
  .tag-p15{
    right: 0;
    top: 0;
  }
  .tag-p20{
    right: 0;
    bottom: 0;
  }
}
.activity-tag-preimgs.img_sm{
  width: 115px;
  .tag{
    width: 50px;
  }
}
.activity-tag-preimgs.img_bg{
  width: 350px;
  .tag{
    width: 85px;
  }
}