.goods-draggable
  z-index: 999;
  \:global
    .ant-upload-list-item-actions, .ant-upload-list-item-name
      display: none;
    .ant-upload-list-item:hover
      .ant-upload-list-item-info
        background: none

\:global
  .ant-upload-list-item.dragging
    opacity: .4;