{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 120,
  "proseWrap": "never",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
