.detail
  margin-bottom: 5px
  .detail-title
    text-align: center
  .detail-header
    display: flex
    justify-content: space-between
  .detail-cont
    display: flex
    .cont-l
      flex: 1
    .cont-r
      flex: 2
  .detail-money-in
    color: green
  .detail-money-out
    color: red
.paddingleft0
  padding-left: 0