.coupon-card {
  width     : 358px;
  height    : 113px;
  display   : flex;
  background: url('~@/assets/images/coupon_card.png');

  &__amount {
    height         : 100%;
    width          : 138px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    color          : #fff;

    .price-symbol {
      display        : flex;
      align-items    : baseline;
      justify-content: center;
    }

    .symbol {
      font-size     : 22px;
      vertical-align: baseline;
    }

    .price {
      font-size  : 40px;
      line-height: 40px;
      font-weight: 600;
    }
  }

  &__info {
    flex       : 1;
    padding    : 8px 14px 0;
    line-height: 21px;
    font-size  : 13px;
    color      : #333;
  }
}

.coupon-title {
  color    : #999;
  font-size: 12px;
}

.coupon-date {
  font-size  : 12px;
  line-height: 18px;
  color      : #999;
}

.coupon-title,
.coupon-date {
  display           : -webkit-box;
  width             : 192px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow          : hidden;
}

.coupon-date {
  line-height: 23px;
  margin-top : 4px;
}

.coupon-rule {
  font-size       : 12px;
  padding         : 2px 5px;
  line-height     : 12px;
  border-radius   : 8px;
  background-color: #FF737E;
  color           : #fff;
  margin-right    : 7px;
  display         : inline-block;
}

.coupon-range {
  color        : #999;
  font-size    : 12px;
  padding-top   : 4px;
  border-top   : 1px dashed #F0F0F0;
  width        : 192px;
  overflow     : hidden;
  white-space  : nowrap;
  text-overflow: ellipsis;
}