.slider
  position: relative

.action
  position: absolute
  top: 50%
  transform: translateY(-50%)
  font-size: 32px

.actionPre
  left: 0
  margin-left: 14px

.actionNext
  right: 0
  margin-right: 14px

.hint
  padding: 20px;
  text-align: center
  font-size: 16px
  margin-bottom: 0