.icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  font-size: 12px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  margin-right: 8px;
}
