.spulist {
  display: flex;
  flex-wrap: wrap;

  .spuitem {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 10px;
    width: 160px;
    margin-right: 10px;
    margin-bottom: 10px;
    flex: 0 0 160px;

    .spubtn {
      margin-top: 10px;
      width: 100%;
    }
  }
}

.sku-upload {
  margin: 10px auto 0;
  width: 104px;
  display: block;
  :global(.ant-upload.ant-upload-select-picture-card),
  :global(.ant-upload-list-picture-card .ant-upload-list-item) {
    margin: 0 !important;
  }
}