.content
  margin-top: 20px
  .left
    float: left
  .image-area
    width: 264px
    border: 1px solid #efefef
    position relative
    img 
      width: 100%
      border: 0
  .right
    float: left
    width: 450px
  .right-item
    width: 100%
    line-height 40px
    :global(.ant-radio-group)
      line-height 40px