.list
  background #fff
  .operate-btns
    button 
      margin-right: 10px
.table
  width: 100%
  background #ffffff
  thead
    background: rgba(242, 242, 242, 1)
    tr th
      padding: 10px
      font-size: 14px
      color: rgba(0,0,0,0.85)
      font-weight: normal
      text-align: center
  tbody
    font-size: 12px
    tr td
      padding: 10px
      border: 1px solid #e8e8e8
      &.order-resume
        text-align left 
        border: 1px solid rgba(242, 242, 242, 1)
        border-bottom: 1px solid #ccc
    td 
      text-align center
.empty
  background: rgba(242, 242, 242, 1)
