.container
  .title
    padding: 16px 0
    text-indent: 1em
    position: relative
    font-size: 18px
    color:rgba(51,51,51,1)
    &:before
      content: ''
      width: 4px
      height: 24px
      border-radius: 2px
      background:rgba(0,163,245,1)
      position: absolute
      top: 50%
      left: 0
      transform: translateY(-50%)
    .subTitle
      font-size: 14px

