.status
  .status-point
    // width: 8px
    // height: 8px 
    // border-radius: 50%
    display: inline-block
    font-size: 14px
    font-family: 'LucidaGrande', 'Lucida Grande', sans-serif;
    margin-right: 6px
  &.status-0
    .status-point
      color: #BFBFBF
  &.status-1
    .status-point
      color: #0E77D1
  &.status-2
    .status-point
      color: #00A854
  &.status-3
    .status-point
      color: #BFBFBF
  &.status-4
    .status-point
      color: #F04134