.spulist {
  display: flex;
  flex-wrap: wrap;

  .spuitem {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 10px;
    width: 160px;
    margin-right: 10px;
    margin-bottom: 10px;
    flex: 0 0 160px;

    .spubtn {
      margin-top: 10px;
      width: 100%;
    }
  }
}

.sku-upload {
  margin: 10px auto 0;
  width: 104px;
  display: block;
  :global(.ant-upload.ant-upload-select-picture-card),
  :global(.ant-upload-list-picture-card .ant-upload-list-item) {
    margin: 0 !important;
  }
}

.readOnly {
  border: none;
  &:global(.ant-input:focus) {
    border-color: transparent;
    border-right-width: 0px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px transparent;
    box-shadow:  0 0 0 2px transparent;
  }
}

.readOnly {
  :global {
    .ant-cascader-input.ant-input {
      border: none;
      &.ant-cascader-input.ant-input {
        border-color: transparent;
        border-right-width: 0px !important;
        outline: 0;
        -webkit-box-shadow: 0 0 0 2px transparent;
        box-shadow:  0 0 0 2px transparent;
      }
    }
  }
}

:global(.has-error) {
  :local(.no-error) {
    border: 1px solid #d9d9d9!important;
  }
}


.goods-draggable, .goods-detail-draggable {
  z-index: 999;
  :global(.ant-upload-list-item-actions), :global(.ant-upload-list-item-name) {
    display: none;
  }
  :global(.ant-upload-list-item:hover) {
    .ant-upload-list-item-info {
      background: none
    }
  }
  :global(.ant-upload-list-item-image) {
    width: 86px;
    height: 86px;
  }
}

:global(.ant-upload-list-item.dragging) {
  opacity: .4;
}

.sku-table {
  :global(.ant-form-item-control) {
    line-height: 32px;
  }
}