.container
  background: #FFFFFF
  padding: 20px
  .search
    margin-bottom: 20px
.detail
  .content
    background: white
    padding: 20px
    .form
      width: 500px
      margin: 0 auto

.mr10
  margin-right: 10px