.short-input {
  width: 6em;
}

.block-radio {
  display    : block;
  height     : 30px;
  line-height: 30px;
}

.coupon-detail {
  .coupon-detail-use-time {
    .ant-radio-wrapper {
      width: 400px;
      display: block;
    }
    .use-time-widget {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
