.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt15 {
  margin-top: 15px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font12 {
  font-size: 12px
}

.wrap {
  word-wrap : break-word;
  word-break: break-all;
}

.error {
  color: red;
  cursor: pointer;
}

.line {
  height: 1px;
  background: #e8e8e8;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  display: none;
  user-select: none;
  z-index: 9999;
  .loading-wrapper {
    margin: 0 auto;
    transform: translateY(-50%);
    text-align: center;
    position: relative;
    top: 50%;
  }
  .wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.2)
  }
}
