.ml10 {
  margin-left: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mt15 {
  margin-top: 15px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.wrap {
  word-wrap : break-word;
  word-break: break-all;
}

.hidden {
  display: none;
}